p(style="font-family: arial, sans-serif;") On #[strong #{clazz.datetime}] we will be hosting an #{subject.name} training session #[em (Trainer: #{clazz.teacher})]. You are receiving the invited as you signed up for it on the TOD site.
    |
    |
    strong(style="color:#c00000;") Please confirm this invite #[u only if] you can attend on that day.

p(style="font-family: arial, sans-serif;")
    strong
        u Training Description:
p(style="font-family: arial, sans-serif;") #{subject.description}

p(style="font-family: arial, sans-serif;") Near the date, we will reconfirm your interest and the trainer may contact you with more details.

p(style="font-family: arial, sans-serif;")
    a(href=process.env.CLIENT_HOST) If you’d like to sign up for other classes, access our site here.

p(style="font-family: arial, sans-serif;") Please, do not forget to confirm or decline your participation. We are counting on you for the training session!

p(style="font-family: arial, sans-serif;") If you have any questions, feel free to contact our team at Southamericatrainingondemand@bain.com.

p(style="font-family: arial, sans-serif;")
    | Best,
    br
    | Eduarda Dreux
